

.cabecalhoAcoes {
    display: flex;
    // border-bottom: 2px solid $cinza01;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    h3 {
        font-family: $fontBold;
        font-size: 16px;
        text-align: center;
        flex: 1;
    }

    .cabecalhoAcoesTextoEsquerda {
        font-size: 12px;
        color: black;
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    .btnAcaoDireita {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;
        color: $corPrimaria ;
        font-family: $fontBold;
        font-size: 12px;
    }

    @media screen and (min-width: $desktopBreakPoint) {
        .cabecalhoAcoesTextoEsquerda, .btnAcaoDireita{
            font-size: 14px;
        }
        
    }
}