.InputPublicoConteiner {
    .InputPublico {
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid $corPrimaria;
        margin-bottom: 25px;
        input {
            border: none;
            outline: none;
            margin-left: 5px;
            color: $corPrimaria;
            flex: 1;
            font-size: 1.2em;
        }
    }
}