.cabecalhoPrincipal {
    border-bottom: 1px solid $cinza01;

    .conteudoCabecalhoPrincipal {
        display: flex;
        padding: 8px 16px;

        .logoCabecalhoPrincipal {
            position: relative;
            width: 160px;
            height: 30px;   
            cursor: pointer;

            }
        .barraPesquisa {
            position: relative;
            flex: 1;
            margin-left: 15px;
            display: flex;
            align-items: center;

            .conteinerImagemLupa {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 8px;
            }
            input {
                background-color: $corPrimaria04;
                border: none;
                outline: none;
                font-size: 12px;
                padding: 8px 8px 8px 36px;
                font-family: $fontLight;
                border-radius: 5px;
                color: $corPrimaria;
                
                &:focus {
                    border: 1px solid $corPrimaria;
                    
                }
            }
        }
    }

    .resultadoPesquisaContainer {
        position: absolute;
        background-color: $branco;
        width: 100%;
        z-index: 9;

        .resultadoPesquisa {
            display: flex;
            padding: 10px 10px;
            &:hover {
                background-color: $cinza;
            }
            .avatar {
                height: 32px;
                width: 32px;
                margin-right: 8px;
            }
            .informacoesUsuario {
                > * {
                    display: block;
                    color: $cinza04;
                    font-size: 15px;
                    width: 100%;

                }
            }
        }
    }

    @media screen and (min-width: $desktopBreakPoint) {
        background-color: white;
        border: none;

        .conteudoCabecalhoPrincipal {
            max-width: 60%;
            margin: auto;
            align-items: center;
            justify-content: center;
        .logoCabecalhoPrincipal {
            height: 30px;
        }

            .barraPesquisa {
                flex: 0.5;
                margin: 0px 10px 0px 40px;

                input {
                    width: 100%;
                }
            }
        .barraNavegacao {
            ul {
                li {
                    margin: 0px 0px 0px 20px;
                }
            }
        }
        }

        .resultadoPesquisaContainer {
            width: 30%;
            margin: auto;
            right: 0;
            left: 0;
            cursor: pointer;
            box-shadow: 0px 4px 5px $cinza01;

         
        }
    }

}