@font-face {
    font-family: "biennale Regular";
    src: url("BiennaleRegular.otf") format("openType")
}
@font-face {
    font-family: "biennale Bold";
    src: url("BiennaleBold.otf") format("openType")
}
@font-face {
    font-family: "biennale Light";
    src: url("BiennaleLight.otf") format("openType")
}