@import "variables.scss";
@import "../public/fonts/fonts.scss";
@import "../components/botão/botao.scss";
@import "../styles/paginaPublica.scss";
@import "../components/inputPublico/inputPublico.scss";
@import "../pages/cadastro/cadastro.scss";
* {
  font-family: $fontRegular;

}
html, body, #__next {
  height: 100%;
  margin: 0 0 0 10;
}
body {
  text-align: center;
}
.div {
  margin: auto;
}
.oculto {
  display: none;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.userImage {
  width: 100px;

}
.button {
  background-color: black;
} 
.mensagemValidacao {
  color: red;
}
input {
  &::placeholder {
    // chrome, opera, safara e firefox
    color: $cinza03;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $cinza02;
  }
  &::-ms-input-placeholder {
    color: $cinza02;
  }

  }
  
    .desktop´{
      
      display: block;
      @media screen and (max-width: calc($desktopBreakPoint - 1px)) {
        display: none;
      }
    }
  

  .mobile {
    display: block;
  
    @media screen and (min-width: $desktopBreakPoint) {
      display: none;
    }
  }
