@import "variables.scss";
@import "../public/fonts/fonts.scss";
@import "../components/botão/botao.scss";
@import "../styles/paginaPublica.scss";
@import "../components/inputPublico/inputPublico.scss";
@import "../pages/cadastro/cadastro.scss";
@import "../components/layout/header.scss";
@import "../components/layout/rodape.scss";
@import "../components/feed/feed.scss";
@import "../components/headerAcoes/headerAcoes.scss";
@import "../pages/perfil/[id]/perfil.scss";
* {
  font-family: $fontRegular;

}
html, body, #__next {
  height: 100%;
  margin: 0 0 0 10;
}
body {
  text-align: center;
}
.div {
  margin: auto;
}
.oculto {
  display: none;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.userImage {
  width: 100px;

}
.button {
  background-color: black;
} 
.mensagemValidacao {
  color: red;
}
input {
  &::placeholder {
    // chrome, opera, safara e firefox
    color: $cinza03;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $cinza02;
  }
  &::-ms-input-placeholder {
    color: $cinza02;
  }

  }
  
    .desktop{
      
      display: block;
      @media screen and (max-width: calc($desktopBreakPoint - 1px)) {
        display: none;
      }
    }
  

  .mobile {
    display: block;
  
    @media screen and (min-width: $desktopBreakPoint) {
      display: none;
    }
  }
.barraNavegacao {
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px 0px;
    li {
      list-style: none;
      cursor: pointer
      ;
    }
  }
}
strong {
  font-family: $fontBold;
}

body {
  @media screen and (min-width: $desktopBreakPoint) {
      background-color: $cinza05;
  }
  .largura30pctDesktop {
    @media screen and (min-width: $desktopBreakPoint) {
      width: 30%;
      margin: auto;
    }
  }
  background-image: url(../public/images/ImagemDeFundoDesktop.svg);
}