$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$corPrimaria: #5943ff;
$corPrimaria02: #25CBD3;
$corPrimaria04: #F0F5FF;

$cinza:#f4f4f4;
$cinza01:#DADADA;
$cinza02:#7C7786;
$cinza03: #4D4C4D;
$cinza04: #333333;
$branco: #ffffff;
$desktopBreakPoint: 992px