$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$corPrimaria02: #5E49FF;
$corPrimaria02: #25CBD3;
$corPrimaria04: #F0F5FF;
$Cinza02:#DADADA;
$Cinza02:#F4F4F4;
$Cinza02:#7C7786;
$cinza03: #4D4C4D;
$cinza03: #333333;
$branco: #ffffff;
$desktopBreakPoint: 992px